In [80]:

### WE SHOULD HAVE 3 DIFF SAMPLES
path_data_file = "../Data/reviews_clean.p"

name_model_pickle_lda_r = "../models/lda5k_lda.p"
name_model_pickle_lda_b = "../models/b_lda5k_lda.p"
name_model_pickle_lda_u = "../models/u_lda5k_lda.p"

num_words_to_compare = 10
distances = ['euclidean','cosine','correlation']

import pandas as pd
import lda
from scipy.spatial import distance
from scipy.spatial.distance import pdist, squareform

## You should have these scripts
import vocabulary as v
import numpy as np
import analyze_results as ar
reload(ar)

In [30]:
data = pd.read_pickle(path_data_file)

result_lda_r = pd.read_pickle(name_model_pickle_lda_r)
result_lda_u = pd.read_pickle(name_model_pickle_lda_u)
result_lda_b = pd.read_pickle(name_model_pickle_lda_b)

voca = v.Vocabulary()
docs = voca.read_corpus( data['text'] )

In [41]:
_, _, top_lda_r = ar.prepare_data_distances(result_lda_r, num_words_to_compare, voca)
_, _, top_lda_b = ar.prepare_data_distances(result_lda_b, num_words_to_compare, voca)
_, _, top_lda_u = ar.prepare_data_distances(result_lda_u, num_words_to_compare, voca)

In [42]:
top_lda_r

,Cluster_lda,W_lda_0,W_lda_1,W_lda_2,W_lda_3,W_lda_4,W_lda_5,W_lda_6,W_lda_7,W_lda_8,W_lda_9
0,0,recommended,great,chair,couches,def,months,ignored,needed,nice,text
1,1,somewhat,mouth,25,alfresco,boy,japanese,vowed,rabe,indicating,takes
2,2,time,would,months,specific,def,service,noticed,chair,metal,even
3,3,batter,couches,recommended,chair,service,great,def,ignored,mercedes,brecksville
4,4,gab,shops,massieve,breakfast,realize,juicy,provided,humble,shawarma,dinning

In [43]:
top_lda_b

,Cluster_lda,W_lda_0,W_lda_1,W_lda_2,W_lda_3,W_lda_4,W_lda_5,W_lda_6,W_lda_7,W_lda_8,W_lda_9
0,0,favorite,small,fixed,spent,green,consistency,seriously,obvious,walks,less
1,1,deposit,disappeared,shouts,serve,apologetic,selections,saving,coating,coconut,instantly
2,2,spent,man,name,fixed,order,crinoline,preoccupied,1,coffee,personally
3,3,season,live,man,horror,sort,consistency,lately,taking,replace,saturday
4,4,fixed,spent,small,green,live,tables,eye,sort,appx,prices

In [44]:
top_lda_u

,Cluster_lda,W_lda_0,W_lda_1,W_lda_2,W_lda_3,W_lda_4,W_lda_5,W_lda_6,W_lda_7,W_lda_8,W_lda_9
0,0,recommended,great,chair,couches,def,months,ignored,needed,nice,text
1,1,somewhat,mouth,25,alfresco,boy,japanese,vowed,rabe,indicating,takes
2,2,time,would,months,specific,def,service,noticed,chair,metal,even
3,3,batter,couches,recommended,chair,service,great,def,ignored,mercedes,brecksville
4,4,gab,shops,massieve,breakfast,realize,juicy,provided,humble,shawarma,dinning

In [39]:
ar.get_matrix_distances(result_lda_r,result_lda_u, num_words_to_compare, voca, distances)

('Comparing model 1, topic', 0)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0            (0, 1.0)  (0, 0.976347927246)  (0, 0.303048795305)
1  (1, 2.00024500728)   (1, 1.99697298928)   (1, 1.99950223727)
2  (2, 3.00000324982)   (4, 1.99932035104)   (4, 1.99992902993)
3  (3, 4.00000625541)   (2, 1.99943546423)   (3, 1.99993180527)
4  (4, 5.00008591165)   (3, 1.99944424034)   (2, 1.99995340643)
('Comparing model 1, topic', 1)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00048992456)  (0, 0.946335630253)  (0, 0.292124784402)
1            (1, 2.0)   (1, 1.99409076607)   (1, 1.99884991606)
2  (2, 3.00020734854)   (4, 1.99772309611)    (4, 1.9996083392)
3  (3, 4.00007916877)   (2, 1.99794285332)   (3, 1.99960929121)
4  (4, 5.00000650961)   (3, 1.99794299472)   (2, 1.99966614417)
('Comparing model 1, topic', 2)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00000974943)  (0, 0.980143139828)  (0, 0.305192003854)
1  (1, 2.00031100938)   (1, 1.99726458443)   (1, 1.99958538459)
2            (2, 3.0)   (4, 1.99945119726)   (4, 1.99995920526)
3  (3, 4.00001479892)   (2, 1.99955065487)   (3, 1.99996031508)
4  (4, 5.00011056848)   (3, 1.99956234665)   (2, 1.99997572327)
('Comparing model 1, topic', 3)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00002502135)  (0, 0.971061544035)  (0, 0.299371278541)
1  (1, 2.00015833283)   (1, 1.99650035564)   (1, 1.99930574463)
2  (2, 3.00001973187)   (4, 1.99909929059)   (4, 1.99984934022)
3            (3, 4.0)   (2, 1.99923507158)   (3, 1.99985006332)
4  (4, 5.00005908676)   (3, 1.99923582444)   (2, 1.99988431335)
('Comparing model 1, topic', 4)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00042946973)  (0, 0.947229736898)  (0, 0.295743546517)
1  (1, 2.00001627398)    (1, 1.9942858108)   (1, 1.99912929329)
2  (2, 3.00018427718)   (4, 1.99781673514)   (4, 1.99975016469)
3   (3, 4.0000738582)    (2, 1.9980304895)   (3, 1.99975717888)
4            (4, 5.0)   (3, 1.99804451105)    (2, 1.9997995415)
('Comparing model 2, topic', 0)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0            (0, 1.0)  (0, 0.976347927246)  (0, 0.303048795305)
1  (1, 2.00024500728)   (1, 1.99697298928)   (1, 1.99950223727)
2  (2, 3.00000324982)   (4, 1.99932035104)   (4, 1.99992902993)
3  (3, 4.00000625541)   (2, 1.99943546423)   (3, 1.99993180527)
4  (4, 5.00008591165)   (3, 1.99944424034)   (2, 1.99995340643)
('Comparing model 2, topic', 1)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00048992456)  (0, 0.946335630253)  (0, 0.292124784402)
1            (1, 2.0)   (1, 1.99409076607)   (1, 1.99884991606)
2  (2, 3.00020734854)   (4, 1.99772309611)    (4, 1.9996083392)
3  (3, 4.00007916877)   (2, 1.99794285332)   (3, 1.99960929121)
4  (4, 5.00000650961)   (3, 1.99794299472)   (2, 1.99966614417)
('Comparing model 2, topic', 2)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00000974943)  (0, 0.980143139828)  (0, 0.305192003854)
1  (1, 2.00031100938)   (1, 1.99726458443)   (1, 1.99958538459)
2            (2, 3.0)   (4, 1.99945119726)   (4, 1.99995920526)
3  (3, 4.00001479892)   (2, 1.99955065487)   (3, 1.99996031508)
4  (4, 5.00011056848)   (3, 1.99956234665)   (2, 1.99997572327)
('Comparing model 2, topic', 3)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00002502135)  (0, 0.971061544035)  (0, 0.299371278541)
1  (1, 2.00015833283)   (1, 1.99650035564)   (1, 1.99930574463)
2  (2, 3.00001973187)   (4, 1.99909929059)   (4, 1.99984934022)
3            (3, 4.0)   (2, 1.99923507158)   (3, 1.99985006332)
4  (4, 5.00005908676)   (3, 1.99923582444)   (2, 1.99988431335)
('Comparing model 2, topic', 4)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00042946973)  (0, 0.947229736898)  (0, 0.295743546517)
1  (1, 2.00001627398)    (1, 1.9942858108)   (1, 1.99912929329)
2  (2, 3.00018427718)   (4, 1.99781673514)   (4, 1.99975016469)
3   (3, 4.0000738582)    (2, 1.9980304895)   (3, 1.99975717888)
4            (4, 5.0)   (3, 1.99804451105)    (2, 1.9997995415)

In [ ]:
get_matrix_distances(result_lda_r,result_lda_b )

In [60]:
name_model_pickle_dmr_b = "../models/dmr5k_dmr_biz.p"
name_model_pickle_dmr_y = "../models/dmr5k_dmr_y.p"

result_dmr_y = pd.read_pickle(name_model_pickle_dmr_y)
result_dmr_b = pd.read_pickle(name_model_pickle_dmr_b)

In [64]:
_, _, top_dmr_b = ar.prepare_data_distances(result_dmr_b, num_words_to_compare, voca)
_, _, top_dmr_y = ar.prepare_data_distances(result_dmr_y, num_words_to_compare, voca)

In [65]:
top_dmr_b

,Cluster_lda,W_lda_0,W_lda_1,W_lda_2,W_lda_3,W_lda_4,W_lda_5,W_lda_6,W_lda_7,W_lda_8,W_lda_9
0,0,recommended,def,months,couches,would,time,great,ignored,needed,far
1,1,recommended,couches,chair,batter,great,months,def,service,time,needed
2,2,chair,specific,batter,wanted,going,service,signs,anniversary,cliche,sold
3,3,tranche,bekanntenkreis,batch,reviewing,fuit,disinfect,budweiser,hochpreisig,centaine,worried
4,4,25,somewhat,mouth,boy,japanese,boast,television,disfigured,indicating,hamburger

In [66]:
top_dmr_y

,Cluster_lda,W_lda_0,W_lda_1,W_lda_2,W_lda_3,W_lda_4,W_lda_5,W_lda_6,W_lda_7,W_lda_8,W_lda_9
0,0,would,def,specific,time,months,noticed,service,selection,another,metal
1,1,recommended,chair,couches,great,def,months,ignored,however,needed,text
2,2,great,time,back,texting,months,mom,something,recommend,needed,best
3,3,batter,couches,recommended,chair,ignored,great,service,mercedes,steamed,brecksville
4,4,somewhat,mouth,25,alfresco,boy,japanese,gab,rabe,vowed,gone

In [69]:
ar.get_matrix_distances(result_dmr_y,result_dmr_b,num_words_to_compare, voca, distances)

('Comparing model 1, topic', 0)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00000206462)  (0, 0.975652082674)  (0, 0.185506228883)
1   (1, 2.0000015176)   (1, 1.99890112852)   (1, 1.99996362448)
2  (2, 3.00001281801)   (4, 1.99915921099)   (3, 1.99996629557)
3  (3, 4.00001896922)   (2, 1.99944656355)   (4, 1.99996840763)
4  (4, 5.00018102043)   (3, 1.99950143209)   (2, 1.99997167689)
('Comparing model 1, topic', 1)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00001264177)  (0, 0.975124691589)  (0, 0.183314141121)
1  (1, 2.00000680426)   (1, 1.99886624585)    (3, 1.9999076219)
2  (2, 3.00000910515)     (4, 1.999121855)   (1, 1.99991299951)
3  (3, 4.00000701191)   (2, 1.99940690055)   (4, 1.99991672582)
4  (4, 5.00017385493)   (3, 1.99945518802)   (2, 1.99991967168)
('Comparing model 1, topic', 2)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00000920543)  (0, 0.975316160862)  (0, 0.184505801666)
1  (1, 2.00000467325)   (1, 1.99887767984)    (3, 1.9999298901)
2  (2, 3.00000957896)   (4, 1.99913377164)   (1, 1.99993717281)
3  (3, 4.00000919333)   (2, 1.99941938395)   (4, 1.99993990666)
4  (4, 5.00017554316)   (3, 1.99946856007)   (2, 1.99994145493)
('Comparing model 1, topic', 3)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00009270593)  (0, 0.968261277602)  (0, 0.180146159988)
1  (1, 2.00004693437)   (1, 1.99847012983)   (3, 1.99979035789)
2  (2, 3.00003885011)   (4, 1.99876404741)   (1, 1.99979419514)
3  (3, 4.00001755439)   (2, 1.99909418205)   (4, 1.99980226973)
4   (4, 5.0001256926)   (3, 1.99915164188)   (2, 1.99980449408)
('Comparing model 1, topic', 4)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine         correlation
0  (0, 1.00023841915)  (0, 0.958067853687)  (0, 0.17862478648)
1  (1, 2.00012261681)   (1, 1.99786057496)  (3, 1.99974043968)
2  (2, 3.00010544375)   (4, 1.99821414118)  (1, 1.99974127186)
3  (3, 4.00005808344)   (2, 1.99862333262)  (4, 1.99975129113)
4  (4, 5.00006594414)   (3, 1.99869843431)   (2, 1.9997556904)
('Comparing model 2, topic', 0)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00000206462)  (0, 0.977001474458)  (0, 0.113483015797)
1  (1, 2.00000632091)   (1, 1.99884083474)   (1, 1.99990685219)
2  (2, 3.00000306849)   (2, 1.99937177719)   (3, 1.99994987087)
3  (3, 4.00002317749)   (3, 1.99942838595)   (4, 1.99995572665)
4  (4, 5.00004768929)   (4, 1.99943386824)    (2, 1.9999662302)
('Comparing model 2, topic', 1)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00000303519)  (0, 0.977542206851)  (0, 0.113786395704)
1  (1, 2.00000680426)   (1, 1.99886624585)   (1, 1.99991205589)
2   (2, 3.0000031155)   (2, 1.99939018602)   (3, 1.99995233259)
3  (3, 4.00002346739)   (3, 1.99944507276)   (4, 1.99995851149)
4  (4, 5.00004904799)   (4, 1.99945084721)   (2, 1.99996953479)
('Comparing model 2, topic', 2)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00003845338)  (0, 0.982482388261)  (0, 0.112882070758)
1   (1, 2.0000136577)   (1, 1.99905020203)   (1, 1.99986207165)
2  (2, 3.00000957896)   (2, 1.99952760393)   (3, 1.99991459898)
3  (3, 4.00002913767)   (3, 1.99956616296)    (4, 1.9999242294)
4  (4, 5.00006326696)   (4, 1.99957504971)   (2, 1.99993731042)
('Comparing model 2, topic', 3)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00007587418)  (0, 0.979204744161)  (0, 0.111054170469)
1  (1, 2.00001402378)    (1, 1.9988162028)   (1, 1.99973012879)
2  (2, 3.00001225777)   (2, 1.99935552733)   (3, 1.99980972685)
3  (3, 4.00001755439)   (3, 1.99939419939)   (4, 1.99982397912)
4  (4, 5.00004646687)   (4, 1.99940731815)   (2, 1.99983860029)
('Comparing model 2, topic', 4)
5 ' Clusters that are closer to topic = -1
Format: (cluster number, similarity measure)
            euclidean               cosine          correlation
0  (0, 1.00090470928)  (0, 0.933877333872)  (0, 0.109064292732)
1  (1, 2.00043459766)   (1, 1.99579144217)   (1, 1.99968871444)
2  (2, 3.00029256281)   (2, 1.99687688593)   (3, 1.99977314956)
3  (3, 4.00015711464)   (3, 1.99700402735)    (4, 1.9997868129)
4  (4, 5.00006594414)   (4, 1.99701695692)   (2, 1.99981041726)

In [83]:
dist = ar.get_spearman_matrix(result_dmr_b, result_dmr_y,voca)

In [82]:
dist = pd.DataFrame(dist)
dist

          0         1        2         3         4
0  0.024462  0.078902  0.04829  0.046117  0.053551
1  0.000000  0.000000  0.00000  0.000000  0.000000
2  0.000000  0.000000  0.00000  0.000000  0.000000
3  0.000000  0.000000  0.00000  0.000000  0.000000
4  0.000000  0.000000  0.00000  0.000000  0.000000

In [84]:
dist = pd.DataFrame(dist)
dist

          0         1         2         3         4
0  0.004338  0.037401  0.009698 -0.001321  0.053551
1  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.000000  0.000000  0.000000  0.000000
3  0.000000  0.000000  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.000000  0.000000  0.000000